@tailwind base;
@tailwind components;
@tailwind utilities;


  input:checked {
    background-color: #c84edf; /* bg-green-500 */
  }

  input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
  }